h1 {
  text-align: center;
  font-size: 72px;
  font-family: "Times New Roman", sans-serif;
  background-color: #607533;
  color: white;
}

img {
  width: 360px;
  height: auto;
  }
  
h2 {
  font-size: 40px;
  font-family: "Arial", sans-serif;
  background-color: #e09757;
  color: white;
}

.list {
  color: #25577d;
  font-family: "Times New Roman", "Verdana", sans-serif;
  font-size: 24px;
}

#button {
  text-align: center;
}  
